default: &default
  adapter: postgresql
  encoding: unicode
  pool: |
    <% if Sidekiq.server? %>
      <%= ENV.fetch('SIDEKIQ_CONCURRENCY', 25) %>
    <% else %>
      <%= ENV.fetch('RAILS_MAX_THREADS', 5) %>
    <% end %>

development:
  <<: *default
  database: gorails_development

test:
  <<: *default
  database: gorails_test

production:
  <<: *default
  url: <%= ENV.fetch('DATABASE_URL', nil) %>
