default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch('RAILS_MAX_THREADS', 5) %>

development:
  <<: *default
  database: gorails_development

test:
  <<: *default
  database: gorails_test

production:
  <<: *default
  url: <%= ENV.fetch('DATABASE_URL', nil) %>
